body {
  font-family: Arial, sans-serif;
  background-color: #232a8f;
  text-align: center;
}
nav {
  margin: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  margin: 0 15px;  
  font-weight: bold;
}

nav a:hover {
  color: #007acc;  
}


h1 {
  margin: 20px;
  color: #333;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 80%;
}

th, td {
  border: 1px solid #666;
  padding: 10px;
  text-align: center;
}

tr:hover {
  background-color: #ffe082;
}
